data/PaxHeader/

data/*.json

data/PaxHeader/
*.pdf

code/*.csv

code/prompts/templates_1.py

code/utils/metrics.py

code/main1.py
code/main2.py
code/main3.py
code/main4.py
code/main5.py
code/main6.py
code/main7.py

code/.env